@charset "UTF-8";
.body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.932))), url(../assets/imagenes/backgorund.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.932)), url(../assets/imagenes/backgorund.jpg);
  font-family: 'Kaisei Opti', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p {
  color: white;
}

.inicio h1 {
  text-align: center;
}

.pantalla1 {
  min-height: 90vh;
}

.pantalla1 .imgMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pantalla1 .imgMe .imgCris {
  width: 300px;
  border-radius: 30px;
}

.pantalla1 .buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pantalla1 .buttons a {
  margin: 5px;
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 5px;
}

.pantalla1 .buttons a:hover {
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(95, 158, 160, 0.144);
}

.proyectos {
  padding: 10px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.proyectos .contenedor {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.788);
  height: 380px;
}

.proyectos .contenedor:hover {
  background-color: rgba(128, 128, 128, 0.116);
  border-radius: 10px;
  font-weight: bold;
}

.proyectos .contenedor h3 {
  text-align: center;
}

.proyectos .contenedor .contImg img {
  width: 300px;
  height: 250px;
}

.proyectos .contenedor .visitar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.proyectos .contenedor .visitar a {
  color: white;
  text-decoration: none;
}

.proyectos .contenedor .visitar a:hover {
  text-decoration: underline;
}

.proyectos .contenedor .visitar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tecno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tecno .tecnologías {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tecno .tecnologías .tech {
  margin: 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 4px 3px 17px -1px rgba(124, 123, 123, 0.397);
          box-shadow: 4px 3px 17px -1px rgba(124, 123, 123, 0.397);
}

.contacto {
  margin-top: 50px;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .infoContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contacto .infoContacto h3 {
  font-size: 25px;
  padding: 10px;
}

.contacto .infoContacto p {
  font-size: 25px;
  padding: 10px;
}

.contacto .infoContacto a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.contacto .infoContacto2 h3 {
  font-size: 25px;
  padding: 10px;
}

.contacto .infoContacto2 form {
  text-align: center;
}

.contacto .infoContacto2 form label {
  color: white;
}

.contacto .infoContacto2 form input {
  width: 260px;
  height: 30px;
  border-radius: 10px;
}

.contacto .infoContacto2 form textarea {
  border-radius: 10px;
  min-width: 260px;
  max-width: 260px;
  min-height: 30px;
  max-height: 30px;
}

.contacto .infoContacto2 form #enviar {
  border-radius: 10px;
  font-weight: bold;
  color: white;
  width: 100px;
  height: 30px;
  background-color: rgba(53, 165, 53, 0.5);
}

.contacto .infoContacto2 form #enviar:hover {
  background-color: rgba(53, 165, 53, 0.932);
}

footer {
  text-align: center;
}
